/* Background color */
body {
	margin: 0;
	width: 100%;
	height: 100vh;
  font-family: 'Quicksand', sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




/* Placeholders */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.5);
  opacity: 1; /* Firefox */
  margin-right: 100px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.5);
  margin-right: 100px;

}
::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.5);
  margin-right: 100px;
}




/* Focus and hover */
input:focus {
  outline:0;
  width: 300px;
  background-color: white;
}
input:hover
{
  width: 300px;
}
button:focus
{
  outline: none;
  /* background-color: rgba(36, 36, 36, 0.8); */
}
button:hover{
  background-color: rgba(36, 36, 36, 0.8);
}
button:active {
  background-color: rgba(36, 36, 36, 1);
}
a:focus
{
  outline: none;
  /* background-color: rgba(256, 256, 256, 0.7); */
}
a:hover
{
  outline: none;
  background-color: rgba(256, 256, 256, 0.7);
}
a:active
{
  outline: none;
  background-color: rgba(256, 256, 256, 1);
}




/* Header */
a {text-decoration: none !important;}
header {margin-bottom: 50px;}
h1 {margin-bottom: 8px;}
p {margin: 0px;}
.center {text-align: center;}
.hide {display: none !important; }




/* vertical center */
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}




button
{
  width: 300px;
  padding: 10px 0px;
  min-width: 100px;
  font-size: 18px;
  margin: 10px;
  border: white 0px solid;
  background-color: rgba(36, 36, 36, 0.5);
  border-radius: 100px;
  color: white;
  cursor: pointer;
}




input
{
  width: 270px;
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0px;
  border: none;
  /* border: rgba(255, 255, 255, 0.5) 1px solid; */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  color: rgba(0, 0, 0, 0.7);
}



a
{
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  /* border: rgba(255, 255, 255, 0.5) 1px solid; */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  color: rgba(0, 0, 0, 0.7);
}
#short-a
{
  max-width: 100px;
  color: white;
  /* border: rgba(255, 255, 255, 0.5) 2px solid; */
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(0, 0, 0, 0.3);;
}
#copy-btn
{
  /* color: white; */
  /* border: rgba(255, 255, 255, 0.5) 2px solid; */
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -6px;
  /* background-color: rgba(0, 0, 0, 0.3);; */
  font-weight: bold;
}


@media only screen and (max-width: 450px)
{
  input
  {
    width: 200px;
  }
  input:focus, input:hover
  {
    width: 230px;
  }
  button
  {
    width: 230px;
  }
  .inner
  {
    width: 300px;
  }

  a
  {
    font-size: 16px;
  }
}


.spinner {
	display: block;
	width: 34px;
	height: 34px;
	position: relative;
	top: 8px;
	left: calc(50% - 17px);
	background: transparent;
	box-sizing: border-box;
	border-top: 4px solid white;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-radius: 100%;
	animation: spin 0.6s ease-out infinite;
}
@keyframes spin {
	100% {transform: rotate(360deg)}
}